<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.winnerawan.madiun">

    <application android:allowBackup="true"
                 android:name="net.winnerawan.madiun.MADIUN"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <service android:name=".notification.HelbFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".notification.HelbMessagingService"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/appid"/>
        <activity android:name="net.winnerawan.madiun.ui.splash.SplashActivity"
                    android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="http"-->
                      <!--android:host="madiuntoday.id"-->
                      <!--android:pathPrefix="/" />-->
                <!--<data android:scheme="http"-->
                      <!--android:host="madiuntoday.id" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="net.winnerawan.madiun.ui.main.MainActivity"/>
        <activity android:name="net.winnerawan.madiun.ui.detail.DetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                      android:host="madiuntoday.id"
                      android:pathPrefix="/201/(month)/(day)/(sufexes)" />
                <data android:scheme="http"
                      android:host="madiuntoday.id" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                      android:host="madiuntoday.id"
                      android:pathPrefix="/" />
                <data android:scheme="http"
                      android:host="madiuntoday.id" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.search.SearchActivity"/>
        <activity android:name=".ui.category.CategoryActivity"/>
        <activity android:name=".ui.player.PlayerActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"/>
        <activity android:name=".ui.stream.StreamActivity"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bff4848b3ed3df68b8971fa1cb1fab790ba7cccc" />
        <service android:name=".service.SyncService"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
